In [74]:
import numpy as np
import pandas as pd
from google.cloud import bigquery
import seaborn as sns
import matplotlib.pyplot as plt

def consulta_desde_archivo(sql):
    # Lee el contenido del archivo SQL
    with open(sql, "r") as file:
        sql = file.read()

    # Ejecuta la consulta y convierte los resultados a un DataFrame de pandas
    cliente = bigquery.Client()
    df_resultado = cliente.query(sql).to_dataframe()
    print(df_resultado.head(2))
    return df_resultado

def asignar_cuadrantes(df, names, condiciones, etiquetas):
    """
    Segmenta el DataFrame `df` basado en las condiciones proporcionadas
    para un conjunto específico de columnas y asigna la etiqueta especificada.

    Parámetros:
    - df: DataFrame de pandas.
    - columnas: Lista de nombres de columnas a considerar.
    - condiciones: Lista de condiciones correspondientes a las columnas en formato de cadena.
    - etiqueta: Etiqueta a asignar cuando se cumplen las condiciones.
    """
    for cond1 in condiciones[names[0]]:
        for cond2 in condiciones[names[1]]:
            mask = (df[names[0]] == cond1) & (df[names[1]] == cond2)
            cuadrante = etiquetas[condiciones[names[0]].index(cond1) * len(condiciones[names[1]]) + condiciones[names[1]].index(cond2)]
            df.loc[mask, 'Cuadrante_Final'] = cuadrante

In [75]:
# Llama a la función con el nombre de tu archivo SQL
df=consulta_desde_archivo("interacciones.sql")

                                              td_id1  nInteracciones  \
0  963ea2be0ca0f0e1bffd03a4b05f028a1da9619a34d305...               1
1  2311b346bb786e04e7996483944c1febcc77062e61114e...               1

   Dias_interaccion abi_brand
0               274     Poker
1               274     Poker

In [93]:
df[df['td_id1']=='31896a73-389b-4694-96ed-9a13423b287f']

,td_id1,nInteracciones,Dias_interaccion,abi_brand,CuadranteDias,CuadranteInteracciones
499986,31896a73-389b-4694-96ed-9a13423b287f,0,3,Poker,Early,Low

In [92]:
df.head()

,td_id1,nInteracciones,Dias_interaccion,abi_brand,CuadranteDias,CuadranteInteracciones
0,963ea2be0ca0f0e1bffd03a4b05f028a1da9619a34d305...,1,274,Poker,Ice,Low
1,2311b346bb786e04e7996483944c1febcc77062e61114e...,1,274,Poker,Ice,Low
2,e7e968ebe679dc3c9e0edaa3ac90c3ba8987ddc7f5599e...,1,274,Poker,Ice,Low
3,30435664960fb8f7ff41eb4768ceb31d46fc27e31745b8...,1,274,Poker,Ice,Low
4,2fac4467e950b05fdcfb5734ab2038e75febe3a234ba6c...,1,274,Poker,Ice,Low

In [ ]:
# # Crear un nuevo DataFrame con valores menores o iguales a 1
# menores1 = df[df['nInteracciones'] <= 1].copy()
# # Excluir los valores menores o iguales a 1 del DataFrame original
# df = df[df['nInteracciones'] > 1].copy()

In [ ]:
# Calcula el histograma
hist, bins = np.histogram(menores1.Dias_interaccion, bins=20)  # Puedes ajustar el número de bins según tu preferencia

# Calcula percentiles
percentiles = np.percentile(menores1.Dias_interaccion, [33.33, 66.67])
print(percentiles)

# Crea el histograma
plt.hist(menores1.Dias_interaccion, bins=20, edgecolor='black')
plt.axvline(percentiles[0], color='red', linestyle='dashed', linewidth=2, label='33.33% Percentile')
plt.axvline(percentiles[1], color='green', linestyle='dashed', linewidth=2, label='66.67% Percentile')

# Añade etiquetas y título
plt.xlabel('Valor')
plt.ylabel('Frecuencia')
plt.title('Histograma y Percentiles')
plt.legend()

# Muestra el histograma
plt.show()

In [ ]:
# Segmentar cuadrantes según condiciones (ejemplo)
menores1['Cuadrante'] = ''
menores1.loc[(menores1['Dias_interaccion'] > 200), 'Cuadrante'] = 'Ice'
menores1.loc[(menores1['Dias_interaccion'] >= 87) & (menores1['Dias_interaccion'] <= 200), 'Cuadrante'] = 'Midi'
menores1.loc[(menores1['Dias_interaccion'] < 87), 'Cuadrante'] = 'Early'
# Crear una tabla de frecuencias cruzadas
tabla_frecuencias = pd.crosstab(index=menores1['Cuadrante'], columns='count')
print(tabla_frecuencias)

In [ ]:
# Segmentar en 9 cuadrantes según condiciones (ejemplo)
menores1['Cuadrante'] = ''
menores1.loc[(menores1['Dias_interaccion'] > 200), 'Cuadrante'] = 'Ice'
menores1.loc[(menores1['Dias_interaccion'] >= 87) & (menores1['Dias_interaccion'] <= 200), 'Cuadrante'] = 'Midi'
menores1.loc[(menores1['Dias_interaccion'] < 87), 'Cuadrante'] = 'Early'
# Crear una tabla de frecuencias cruzadas
tabla_frecuencias = pd.crosstab(index=menores1['Cuadrante'], columns='count')
print(tabla_frecuencias)

In [ ]:
# Calcula el histograma
hist, bins = np.histogram(df.Dias_interaccion, bins=20)  # Puedes ajustar el número de bins según tu preferencia

# Calcula percentiles
percentiles = np.percentile(df.Dias_interaccion, [33.33, 66.67])
print(percentiles)
# Crea el histograma
plt.hist(df.Dias_interaccion, bins=20, edgecolor='black')
plt.axvline(percentiles[0], color='red', linestyle='dashed', linewidth=2, label='33.33% Percentile')
plt.axvline(percentiles[1], color='green', linestyle='dashed', linewidth=2, label='66.67% Percentile')

# Añade etiquetas y título
plt.xlabel('Valor')
plt.ylabel('Frecuencia')
plt.title('Histograma y Percentiles')
plt.legend()

# Muestra el histograma
plt.show()

In [ ]:
# Calcula el histograma
hist, bins = np.histogram(df.nInteracciones, bins=20)  # Puedes ajustar el número de bins según tu preferencia

# Calcula percentiles
percentiles = np.percentile(df.nInteracciones, [33.33, 66.67])
print(percentiles)
# Crea el histograma
plt.hist(df.nInteracciones, bins=20, edgecolor='black')
plt.axvline(percentiles[0], color='red', linestyle='dashed', linewidth=2, label='33.33% Percentile')
plt.axvline(percentiles[1], color='green', linestyle='dashed', linewidth=2, label='66.67% Percentile')

# Añade etiquetas y título
plt.xlabel('Valor')
plt.ylabel('Frecuencia')
plt.title('Histograma y Percentiles')
plt.legend()

# Muestra el histograma
plt.show()

In [76]:
# Segmentar en 9 cuadrantes según condiciones (ejemplo)
df['CuadranteDias'] = ''
df.loc[(df['Dias_interaccion'] > 156), 'CuadranteDias'] = 'Ice'
df.loc[(df['Dias_interaccion'] >= 84) & (df['Dias_interaccion'] <= 156), 'CuadranteDias'] = 'Midi'
df.loc[(df['Dias_interaccion'] < 84), 'CuadranteDias'] = 'Early'
# Crear una tabla de frecuencias cruzadas
tabla_frecuencias_1 = pd.crosstab(index=df['CuadranteDias'], columns='count')
print(tabla_frecuencias_1)

col_0           count
CuadranteDias
Early          158422
Ice            166154
Midi           175800

In [77]:
df['CuadranteInteracciones'] = ''
df.loc[(df['nInteracciones'] > 10), 'CuadranteInteracciones'] = 'High'
df.loc[(df['nInteracciones'] >=2) & (df['nInteracciones'] <= 10), 'CuadranteInteracciones'] = 'Mid'
df.loc[(df['nInteracciones'] < 2), 'CuadranteInteracciones'] = 'Low'
# Crear una tabla de frecuencias cruzadas
tabla_frecuencias_2 = pd.crosstab(index=df['CuadranteInteracciones'], columns='count')
print(tabla_frecuencias_2)

col_0                    count
CuadranteInteracciones
High                     53832
Low                     335032
Mid                     111512

In [78]:
df.head()

,td_id1,nInteracciones,Dias_interaccion,abi_brand,CuadranteDias,CuadranteInteracciones
0,963ea2be0ca0f0e1bffd03a4b05f028a1da9619a34d305...,1,274,Poker,Ice,Low
1,2311b346bb786e04e7996483944c1febcc77062e61114e...,1,274,Poker,Ice,Low
2,e7e968ebe679dc3c9e0edaa3ac90c3ba8987ddc7f5599e...,1,274,Poker,Ice,Low
3,30435664960fb8f7ff41eb4768ceb31d46fc27e31745b8...,1,274,Poker,Ice,Low
4,2fac4467e950b05fdcfb5734ab2038e75febe3a234ba6c...,1,274,Poker,Ice,Low

In [ ]:
print(df.columns)

In [ ]:
df.td_id1

In [ ]:
# Guardar el DataFrame como un archivo CSV
df.to_csv('ejemplo.csv', index=False)

In [ ]:
df_resultado

In [79]:
 # Ejecuta la consulta y convierte los resultados a un DataFrame de pandas
sql='''
select
td_id,
Clasificacion
from
`abi-martech-maz-col.tadabra.Master_Tada_acumulado`
where td_id is not null 
'''
cliente = bigquery.Client()
df_resultado = cliente.query(sql).to_dataframe()
print(df_resultado.head(2))

                                               td_id Clasificacion
0  82295389f559f471b94d57f1357936e9d07d723cb6d0fd...          Core
1  85fef6505c972d90a70ddcb08fd5bd96042823b5da9b59...          Core

In [ ]:
# # cuadrante final 
# names = ['CuadranteDias', 'CuadranteInteracciones']
# condiciones_Dias = ['Early', 'Midi,', 'Ice']
# condiciones_Interaccione = ['Low', 'Mid', 'High']
# etiquetas=['1,1', '1,2', '1,3', '2,1', '2,2', '2,3', '3,1', '3,2', '3,3']
# df.loc[(df[names[0]] == condiciones_Dias[0]) & (df[names[1]] == condiciones_Interaccione[0]), 'Cuadrante_Final'] = etiquetas[0]

# # segmentar_y_etiquetar(df, names, ['==Ice', '==Low'], 'Ice-Low')

In [80]:
base = pd.merge(df, df_resultado, left_on='td_id1', right_on='td_id', how='inner')

In [ ]:
base.head()

In [81]:
df.shape

(500376, 6)

In [82]:
df_resultado.shape

(416259, 2)

In [83]:
base.shape

(42029, 8)

In [84]:
base[['Clasificacion', 'CuadranteInteracciones']].value_counts()

Clasificacion  CuadranteInteracciones
Frozen         Low                       8519
Churn          Low                       6796
Frozen         Mid                       5188
Churn          Mid                       5185
Casual         Low                       3592
               Mid                       3097
Core           Low                       1608
               Mid                       1606
Power          Low                       1208
               Mid                       1156
First Month    Low                        998
Frozen         High                       887
First Month    Mid                        657
Churn          High                       642
Casual         High                       426
Core           High                       200
Power          High                       158
First Month    High                       106
Name: count, dtype: int64

In [ ]:
base[['Clasificacion']].value_counts()

In [85]:
filtro = ['Casual', 'Core', 'Power']
base_rfm=base[base['Clasificacion'].isin (filtro)]

In [ ]:
base_rfm[['Clasificacion']].value_counts()

In [86]:
base[base['Clasificacion']=='First Month']['CuadranteInteracciones'].value_counts()

CuadranteInteracciones
Low     998
Mid     657
High    106
Name: count, dtype: int64

In [87]:
names = ['Clasificacion', 'CuadranteInteracciones']
condiciones = {
    'Clasificacion': ['Casual', 'Core', 'Power'],
    'CuadranteInteracciones': ['Low', 'Mid', 'Hot']
}
etiquetas = ['1,1', '1,2', '1,3', '2,1', '2,2', '2,3', '3,1', '3,2', '3,3']

asignar_cuadrantes(base_rfm, names, condiciones, etiquetas)

C:\Users\JuanSe\AppData\Local\Temp\ipykernel_9120\3926882255.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[mask, 'Cuadrante_Final'] = cuadrante

In [88]:
base_rfm.Cuadrante_Final.value_counts()

Cuadrante_Final
1,1    3592
1,2    3097
2,1    1608
2,2    1606
3,1    1208
3,2    1156
nan     784
Name: count, dtype: int64

In [90]:
base_rfm[base_rfm.Cuadrante_Final=='1,1']

,td_id1,nInteracciones,Dias_interaccion,abi_brand,CuadranteDias,CuadranteInteracciones,td_id,Clasificacion,Cuadrante_Final
0,a2bb3f0a-34d1-480e-bad5-2411a1decf6f,1,274,Poker,Ice,Low,a2bb3f0a-34d1-480e-bad5-2411a1decf6f,Casual,"1,1"
2,602f12629ee5acf57757d97a5c95f17c03f4edc625342e...,1,274,Poker,Ice,Low,602f12629ee5acf57757d97a5c95f17c03f4edc625342e...,Casual,"1,1"
10,ab4256e8a9095547c6f240967ce854d573d3aeb1f97991...,1,274,Poker,Ice,Low,ab4256e8a9095547c6f240967ce854d573d3aeb1f97991...,Casual,"1,1"
22,34351201b88300ab799f73ed308d565d4566e8477729fb...,1,274,Poker,Ice,Low,34351201b88300ab799f73ed308d565d4566e8477729fb...,Casual,"1,1"
26,05d813174cb5383f5cd70fa91f3b832362786eb5cccb52...,1,274,Poker,Ice,Low,05d813174cb5383f5cd70fa91f3b832362786eb5cccb52...,Casual,"1,1"
...,...,...,...,...,...,...,...,...,...
41951,31896a73-389b-4694-96ed-9a13423b287f,0,3,Poker,Early,Low,31896a73-389b-4694-96ed-9a13423b287f,Casual,"1,1"
41957,a910f881-fd69-45c6-ba02-92f06f9eddb8,0,3,Poker,Early,Low,a910f881-fd69-45c6-ba02-92f06f9eddb8,Casual,"1,1"
41989,08bc3ba1-cbf2-467b-944c-5b912aafc6b8,0,2,Poker,Early,Low,08bc3ba1-cbf2-467b-944c-5b912aafc6b8,Casual,"1,1"
42006,804c5ecd-1516-41a8-b97b-90e563783821,0,2,Poker,Early,Low,804c5ecd-1516-41a8-b97b-90e563783821,Casual,"1,1"
42011,17a7da0e-570d-49e9-898d-9c4012b680a9,0,2,Poker,Early,Low,17a7da0e-570d-49e9-898d-9c4012b680a9,Casual,"1,1"